[Unit]
Description=Check for completed PDFToTex batches every two minutes

[Timer]
OnBootSec=120s
OnUnitActiveSec=120s
Persistent=true
Unit=pdftotex-overleaf-publish.service

[Install]
WantedBy=timers.target

